.btn{
  /* width:6rem; */
  width: fit-content;
  padding: 0 0.8rem;
  height: 2.3rem;
  border:none;
  font-size: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn:hover{
  font-weight: bold;
}

.solid{
  background-color: var(--dark-bkg);
  color:white;
}

.outline{
  border: 2px solid var(--dark-bkg);
  background-color: transparent;
  font-weight: normal;
}

.text{
  color:var(--dark-bkg);
  background-color: transparent;
  border: none;
}

