.acordion {
  margin: 1rem 0;
  width: 100%;
}
.accordionSummary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  min-height: 56px;
}

.accordionContent {
  min-height: 64px;
  border: 3px solid rgba(0, 0, 0, 0.03);
  border-top: none;
  padding: 0.5rem;
  border-radius: 20px;
}

.expandBtn {
  cursor: pointer;
}

.expanded {
  display: block;
}

.collapsed {
  display: none;
}

.assignIcon {
  margin: 1rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
}

.assignIcon:hover {
  color: black;
}
