.dashboardNavbar {
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  background: url("../../../../Assets/navBKG.png") no-repeat center center/cover;
}

.navBtn.dash {
  font-size: 3rem;
}

.dashboardNavbar .fa-car {
  color: white;
}
