.CarpoolDashBoard{
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-height: calc( 100vh - 64px);
}

.drivesContainer{
  width:100%;
  max-height: calc( 100vh - 64px);
  display: flex;
  flex-direction: column;
}

.passengersContainer{
  background-color: thistle;
  width:100%;
  height: 100vh;
}

