* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
  padding: 0 20px;
  color: #575b63;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.logo {
  height: 55px;
  margin: 10px;
}

.navBtn {
  display: flex;
  align-items: center;
  height: 58px;
  margin: 0 20px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 20px;
}

.navBtns {
  display: flex;
}
.navBtn:hover {
  border-bottom: 2px solid rgb(166, 189, 211);
  color: rgb(166, 189, 211);
  font-weight: bold;
}

a.selected {
  color: rgb(166, 189, 211);
  font-weight: bold;
}
