.drive {
  background-color: #fff;
  border-radius: 1rem;
  height: 100%;
  margin: 3rem 1rem 0 1rem;
  padding: 1rem;
  border: 2px solid #eeefee;
}

h3 {
  color: #575b63;
  margin-left: 1rem;
}

.drive:hover {
  box-shadow: var(--boxShadow);
}

.driveHeader {
  display: flex;
  border-bottom: 2px solid #eeefee;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-bottom: 1rem;
}

.outColor {
  color: rgb(126, 182, 163) !important;
}

.inBkg {
  background-color: rgba(226, 188, 174, 0.2) !important;
}
.inColor {
  color: rgb(226, 188, 174) !important;
}
.outBkg {
  background-color: rgba(126, 182, 163, 0.2) !important;
}

.inArrow {
  color: rgb(126, 182, 163);
  transform: rotate(180deg);
}

.destination {
  display: flex;
  align-items: center;
}

.action {
  display: flex;
}

.addIcon {
  margin-right: 0.5rem;
  color: #575b63;
}

.addCarBtn {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 20px;
  border: none;
  height: 3rem;
  border: 2px solid transparent;
}

.addCarBtn:hover {
  cursor: pointer;
  border: 2px solid #575b63;
}
.addCarText {
  font-size: 1rem;
  color: #575b63;
}

.carsSection {
  margin-top: 1rem;
  border-radius: 20px;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, 200px);
  overflow-y: scroll;
}

.passengersSection {
  border-radius: 20px;
}
